
<div class="col-12" algin="center">
  <h1 align="center"><b>Formulaire d'ajout de lieu</b></h1>
  <form class="" [formGroup]="formLieu" (ngSubmit)="emitNewLieu()">
    <div class="form-group form-inline raw">
      <label for="name" class="col-4">Nom :</label>
      <input type="text" class="form-control col-6" id="name" name="name" formControlName="name">
    </div>
    <div class="form-group form-inline raw">
      <label for="type" class="col-4 ">Type :</label>
      <select id="type" name="type" formControlName="type" class="form-control col-6">
        <option class="form-control" *ngFor="let type of TYPE_LIEUX" value="{{type}}">{{type}}</option>
      </select>
    </div>
    <div class="form-group form-inline raw">
      <label for="description" class="col-4 ">Description :</label>
      <textarea rows="5" cols="30" class="form-control col-6" id="description" name="description" formControlName="description">

      </textarea>
    </div>

    <div formGroupName="address">
      <div class="form-group form-inline raw">
        <label for="straat" class="col-4 ">Rue :</label>
        <input type="text" class="form-control col-6" id="straat" name="straat" formControlName="straat">
      </div>
      <div class="form-group form-inline raw">
        <label for="num" class="col-4 ">Numéro :</label>
        <input type="number" class="form-control col-6" id="num" name="num" formControlName="num">
      </div>
      <div class="form-group form-inline raw">
        <label for="postalCode" class="col-4 ">Code Postal :</label>
        <input type="number" class="form-control col-6" id="postalCode" name="postalCode" formControlName="postalCode">
      </div>
      <div class="form-group form-inline raw">
        <label for="city" class="col-4 ">Ville :</label>
        <input type="text" class="form-control col-6" id="city" name="city" formControlName="city">
      </div>
    </div>
    <div class="text-center" size="50px">
      <input type="submit" class="btn btn-primary btn-success" >
    </div>
  </form>
</div>
