<div class="col-12">
  <form class="" [formGroup]="formLieu" (ngSubmit)="emitNewLieu()">
    <div class="form-group form-inline raw">
      <label for="nom" class="col-6 ">Nom :</label>
      <input type="text" class="form-control col-6" id="nom" name="nom" formControlName="nom">
    </div>
    <div class="form-group form-inline raw">
      <label for="type" class="col-6 ">Type :</label>
      <select id="type" name="type" formControlName="type" class="form-control col-6">
        <option class="form-control" *ngFor="let type of typeLieu" value="{{type}}">{{type}}</option>
      </select>
    </div>
    <div class="form-group form-inline raw">
      <label for="description" class="col-6 ">Description :</label>
      <textarea rows="5" cols="30" class="form-control col-6" id="description" name="description" formControlName="description">

      </textarea>
    </div>

    <div formGroupName="address">
      <div class="form-group form-inline raw">
        <label for="rue" class="col-6 ">Rue :</label>
        <input type="text" class="form-control col-6" id="rue" name="rue" formControlName="rue">
      </div>
      <div class="form-group form-inline raw">
        <label for="num" class="col-6 ">Numéro :</label>
        <input type="number" class="form-control col-6" id="num" name="num" formControlName="num">
      </div>
      <div class="form-group form-inline raw">
        <label for="cp" class="col-6 ">Code Postal :</label>
        <input type="number" class="form-control col-6" id="cp" name="cp" formControlName="cp">
      </div>
      <div class="form-group form-inline raw">
        <label for="ville" class="col-6 ">Ville :</label>
        <input type="text" class="form-control col-6" id="ville" name="ville" formControlName="ville">
      </div>
    </div>
    <div class="text-right">
      <input type="submit" class="btn btn-primary btn-success" [disabled]="!formLieu.valid">
    </div>
  </form>
</div>
