<div class="container pt-4">
  <app-filter-place (category)="categoryFilter = $event" (sort)="sortFilter = $event"></app-filter-place>
</div>

<div class="container container-fluid">
  <ul style="list-style: none;">
    <li *ngFor="let placeAndAddress of placesAndAddresses|type:categoryFilter|rating:sortFilter">
      <app-single-place [placeAndAddress]="placeAndAddress" (click)="navigateToDetailLieu(placeAndAddress)"></app-single-place>
    </li>
  </ul>

  <div class="container" align="center">
    <button class="btn btn-info" (click)="navigateToFormAddLieu()">Ajouter lieu</button>
  </div>
</div>
