/****** Object:  Database [cou_project]    Script Date: 04-12-19 20:12:30 ******/
CREATE DATABASE [cou_project]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_Gen5_2', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS;
GO
USE [cou_project]
GO
/****** Object:  Table [dbo].[Adresse]    Script Date: 07-11-19 15:11:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adresse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ville] [varchar](50) NOT NULL,
	[rue] [varchar](50) NOT NULL,
	[num] [int] NOT NULL,
	[cp] [int] NOT NULL,
 CONSTRAINT [PK_Adresse] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Avis]    Script Date: 07-11-19 15:11:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avis](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[note] [float] NOT NULL,
	[commentaire] [varchar](max) NOT NULL,
	[valider] [int] NOT NULL,
	[idutil] [int] NOT NULL,
	[idlieu] [int] NOT NULL,
 CONSTRAINT [PK_Avis] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favoris]    Script Date: 07-11-19 15:11:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favoris](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idutil] [int] NOT NULL,
	[idlieu] [int] NOT NULL,
 CONSTRAINT [PK_Favoris] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lieu]    Script Date: 07-11-19 15:11:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lieu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[type] [varchar](50) NOT NULL,
	[description] [varchar](max) NOT NULL,
	[idadr] [int] NOT NULL,
 CONSTRAINT [PK_Lieu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilisateur]    Script Date: 07-11-19 15:11:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilisateur](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](20) NOT NULL,
	[prenom] [varchar](20) NOT NULL,
	[pseudo] [varchar](20) NOT NULL,
	[type] [varchar](1) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[hashpwd] [varchar](50) NOT NULL,
	[idadr] [int] NOT NULL,
 CONSTRAINT [PK_Utilisateur] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Utilisateur] ADD  CONSTRAINT [DF_Utilisateur_type]  DEFAULT ('U') FOR [type]
GO
ALTER TABLE [dbo].[Avis]  WITH CHECK ADD  CONSTRAINT [FK_Avis_Lieu] FOREIGN KEY([idlieu])
REFERENCES [dbo].[Lieu] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Avis] CHECK CONSTRAINT [FK_Avis_Lieu]
GO
ALTER TABLE [dbo].[Avis]  WITH CHECK ADD  CONSTRAINT [FK_Avis_Util] FOREIGN KEY([idutil])
REFERENCES [dbo].[Utilisateur] ([id])
GO
ALTER TABLE [dbo].[Avis] CHECK CONSTRAINT [FK_Avis_Util]
GO
ALTER TABLE [dbo].[Favoris]  WITH CHECK ADD  CONSTRAINT [FK_Favoris_Lieu] FOREIGN KEY([idlieu])
REFERENCES [dbo].[Lieu] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favoris] CHECK CONSTRAINT [FK_Favoris_Lieu]
GO
ALTER TABLE [dbo].[Lieu]  WITH CHECK ADD  CONSTRAINT [FK_Lieu_Adresse] FOREIGN KEY([idadr])
REFERENCES [dbo].[Adresse] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lieu] CHECK CONSTRAINT [FK_Lieu_Adresse]
GO
ALTER TABLE [dbo].[Utilisateur]  WITH CHECK ADD  CONSTRAINT [FK_Utilisateur_Adresse] FOREIGN KEY([idadr])
REFERENCES [dbo].[Adresse] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Utilisateur] CHECK CONSTRAINT [FK_Utilisateur_Adresse]
GO
USE [master]
GO
