<div class="container">
  <div class="row align-items-start">
    <div class="col-8 ">
      <app-single-place [placeAndAddress]="placeAndAddress" (click)="navigateToDetailLieu()"></app-single-place>
    </div>
    <div *ngIf="!validation" class="col-2 align-self-center">
      <button class="btn btn-danger" value="supprimer" (click)="validation = true">Supprimer</button>
    </div>
    <div *ngIf="validation" class="text-center border border-danger rounded px-3 py-3 align-self-center">
      <span class="text-danger">Etes-vous sûr de vouloir supprimer {{placeAndAddress.place.name}} ?</span>
      <hr/>
      <div class="text-center">
        <button class="btn btn-success mx-3 px-4" value="oui" (click)="emitDeletePlace();validation=true">Oui</button>
        <button class="btn btn-danger mx-3 px-4" value="non" (click)="validation = false">Non</button>
      </div>
    </div>
  </div>
</div>
