<div class="title">
  <div style="background-color:red;">
      <h1>Cou</h1>
  </div>
</div>

<ngb-tabset type="pills" [justify]="currentJustify">
  <ngb-tab title="Accueil">
    <ng-template ngbTabContent >
      <!--COMPONENT-->
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Carte">
    <ng-template ngbTabContent >
      <!--COMPONENT-->
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Ajout Lieu">
    <ng-template ngbTabContent >
      <!--COMPONENT-->
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Lieux">
    <ng-template ngbTabContent >
      <!--COMPONENT-->
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Connexion">
    <ng-template ngbTabContent>
		<app-form-connection></app-form-connection>
		<app-form-inscription></app-form-inscription>
    </ng-template>
  </ngb-tab>
</ngb-tabset>




