<div class="title">
  <div style="background-color:red;">
      <h1>Cou</h1>
  </div>
</div>

<nav class="nnavbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Menu</a>
    </div>
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <!--Ajouté la ligne du dessous pour ajouter un onglet + Spécifié la routes dans "app.module.ts-->
        <li routerLinkActive="active"><a routerLink="lieux">Lieux</a> </li>
        <li routerLinkActive="active"><a routerLink="forms/lieux">Ajouter Place</a> </li>
        <li routerLinkActive="active"><a routerLink="authenticate">Connexion</a></li>
        <li routerLinkActive="active"><a routerLink="User">Inscription</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--Permet l'affichage des component-->
<div class="container col-12">
    <div class="float-left col-10">
      <router-outlet></router-outlet>
    </div>
</div>
