.navbar{
  height: 60px;
  font-size : 18px;
}
.nabar-nav{
  width : 300px;
}
.nav-link{
  font-size: 18px;
}
.contact{
  height: 100px;
  background-color: dimgray;
  font-size: 35px;
}
.textFooter{
  font-size: 15px;
  color : white;
}
#displayComp{
  background-color: lavender;
  height: 100%;
  margin: 0em;
  overflow-y: auto;
}

