.navbar{
  height: 60px;
  font-size : 18px;
}
.nabar-nav{
  width : 300px;
}
.nav-link{
  font-size: 18px;
}
.contact{
  height: 100px;
  background-color: dimgray;
  font-size: 35px;
}
#displayComp{
  background-color: lavender;
  height : 80%;
}
#footer {
  height : 20px;
  background-color: dimgray;
  text-align: center;
  vertical-align: middle;
}

#LogOut{
  border-style: solid;
  border-radius: 20px;
  border-right-width: 10px;
  border-left-width: 10px;
}
