<div class="row" >
  <div class="col-12">
    <div class="card m-3" (click)="navigateToDetailLieu()">
      <div class="card-header bg-dark text-center text-light">
        <h5>{{place.name}}</h5>
      </div>

      <div class="py-2 px-3">
        <div class="d-block">
          <hr>
          <span class="d-inline">{{place.id}} : </span>
          <h6 class="card-subtitle d-inline mb-2 text-muted">{{place.type}}</h6>
          <hr>
        </div>
        <p class="card-text"a>{{place.description}}</p>
      </div>

      <div class="card-footer">
        <div>
          {{address.postalCode}} {{address.city}}
          <br>
          {{address.straat}}, {{address.num}}
        </div>
      </div>
    </div>
  </div>
</div>
