<div class="row" >
  <div class="col-12">
    <div class="card m-3" >
      <div class="card-header bg-secondary text-center text-light">
        <h5>{{placeAndAddress.place.name}}</h5>
      </div>

      <div class="py-2 px-3">
        <div class="d-block">
          <div class="text-left pt-3">
            <span class="d-inline">{{placeAndAddress.place.id}} : </span>
            <h6 class="card-subtitle d-inline mb-2 text-muted">{{placeAndAddress.place.type}}</h6>
            <div class="float-right">
              <span class="fa fa-star mr-2" style="color: #ffd106"></span>
              <span class="" >{{placeAndAddress.avgRate}}/10</span>
              <span class="fa fa-star pl-2" style="color: #ffd106"></span>
            </div>
          </div>
          <hr>
        </div>
        <p class="card-text"a>{{placeAndAddress.place.description}}</p>
      </div>

      <div class="card-footer">
        <div>
          {{placeAndAddress.address.postalCode}} {{placeAndAddress.address.city}}
          <br>
          {{placeAndAddress.address.straat}}, {{placeAndAddress.address.num}}
        </div>
      </div>
    </div>
  </div>
</div>
