<div class="text-center pt-5">
  <form class="form-signin" [formGroup] = "formulaireInscription" (ngSubmit)="emitNewUser()" >
    <!--    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"-->
    <!--         height="72">-->

    <h1 class="h3 mb-3 font-weight-normal "><b>Inscription</b></h1>
    <hr/>
    <div class="form-group">
      <label for="emailInscription" class="sr-only">Email</label>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><b>Email</b></span>
          </div>
          <input type="text" id="emailInscription" class="form-control" aria-label="emailInscription" formControlName="emailInscription" placeholder="Entrez votre adresse email" required
                 autofocus>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="nom" class="sr-only">Name</label>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><b>Nom</b></span>
          </div>
          <input type="nom" id="nom" class="form-control" formControlName="nom" placeholder="Entrez votre nom" required>

        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="prenom" class="sr-only">Surname</label>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><b>Prenom</b></span>
          </div>
          <input type="prenom" id="prenom" class="form-control" formControlName="prenom" placeholder="Entrez votre prénom" required>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="pseudo" class="sr-only">Pseudo</label>
      <div class="form-group">
        <div class="input-group">

          <div class="input-group-prepend">
            <span class="input-group-text"><b>Pseudo</b></span>
          </div>
          <input type="pseudo" id="pseudo" class="form-control" formControlName="pseudo" placeholder="Entrez votre pseudo" required>

        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="motDePasseInscription" class="sr-only">Password</label>
      <div class="form-group">
        <div class="input-group">

          <div class="input-group-prepend">
            <span class="input-group-text"><b>Mot de passe</b></span>
          </div>
          <input type="motDePasseInscription" id="motDePasseInscription" class="form-control" formControlName="motDePasseInscription" placeholder="Entrez votre mot de passe" required>

        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="verifMotDePasse" class="sr-only">confirmPassword</label>
      <div class="form-group">
        <div class="input-group">

          <div class="input-group-prepend">
            <span class="input-group-text"><b>Confirmation</b></span>
          </div>
          <input type="verifMotDePasse" id="verifMotDePasse" class="form-control" formControlName="verifMotDePasse" placeholder="Confirm ton mot de passe" required>

        </div>
      </div>
    </div>
    <br>

    <div formGroupName="address" >
      <b><h1 class="h4 mb-3 font-weight-normal text-center">Adresse</h1></b>
      <hr/>
      <div class="address">
        <div class="form-group-address">
          <label for="straat" class="sr-only">Rue</label>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><b>Rue</b></span>
              </div>
              <input type="straat" id="straat" class="form-control" formControlName="straat" placeholder="Entrez votre rue" required>

            </div>
          </div>
        </div>


        <div class="form-group-address">
          <label for="num" class="sr-only">Number</label>
          <div class="form-group">
            <div class="input-group">

              <div class="input-group-prepend">
                <span class="input-group-text"><b>Numéro</b></span>
              </div>
              <input type="num" id="num" class="form-control" formControlName="num" placeholder="Numéro de votre adresse" required>

            </div>
          </div>
        </div>

        <div class="form-group-address">
          <label for="postalCode" class="sr-only">Postal Code</label>
          <div class="form-group">
            <div class="input-group">

              <div class="input-group-prepend">
                <span class="input-group-text"><b>Code postal</b></span>
              </div>
              <input type="number"  id="postalCode" class="form-control" formControlName="postalCode" placeholder="Entrez le code postal de votre ville" required>

            </div>
          </div>
        </div>

        <div class="form-group-address">
          <label for="city" class="sr-only">City</label>
          <div class="form-group">
            <div class="input-group">

              <div class="input-group-prepend">
                <span class="input-group-text"><b>Ville</b></span>
              </div>
              <input type="city" id="city" class="form-control" formControlName="city" placeholder="Entrez votre ville" required>

            </div>
          </div>
        </div>
      </div>
    </div>
  <br>
    <div>
      <button class="btn btn-lg btn-info btn-block" type="submit">Register you</button>
    </div>


  </form>
</div>




<!--<div align="center">
  <legend>Formulaire d'inscription</legend>
  <form class="form-horizontal "  [formGroup] = "formulaireInscription" (ngSubmit)="emitNewUser()" role="form">
    <fieldset class="align-middle">
      <div class="form-group form-inline raw" >
          <label for="emailInscription" class="col-md-auto">Email </label>
          <input type="text" class=" form-control col-6"  formControlName="emailInscription" id="emailInscription" aria-describedby="emailHelp" />
      </div>
      <div class="form-group form-inline raw">
        <label for="nom" class="col-md-auto">Nom</label>
        <input class="form-control" type ="text" class="form-control col-6" formControlName="nom" id="nom"/>
      </div>
      <div class="form-group form-inline raw">
        <label for="prenom" class="col-md-auto">Prenom</label>
        <input class="form-control" type ="text"  class="form-control col-6" formControlName="prenom" id="prenom"/>
      </div>
      <div class="form-group form-inline raw">
        <label for="pseudo" class="col-md-auto">Pseudo</label>
        <input class="form-control" type ="text" class="form-control col-6"  formControlName="pseudo" id="pseudo"/>
      </div>
      <div class="form-group form-inline raw">
        <label for="motDePasseInscription" class="col-md-auto">Mot de passe</label>
        <input class="form-control" type ="password" class="form-control col-6"  formControlName="motDePasseInscription" id="motDePasseInscription"/>
      </div>
      <div class="form-group  form-inline raw">
        <label for="verifMotDePasse" class="col-md-auto">Vérification mot de passe</label>
        <input class="form-control" type ="password"  class="form-control col-6"  formControlName="verifMotDePasse" id="verifMotDePasse"/>
          <span *ngIf="!verificationMotDePasse()">Erreur, mauvais mot de passe</span> -->
      <!--</div>
      <div formGroupName="address">
        <div class="form-group form-inline raw">
          <label for="straat" class="col-md-auto">Rue </label>
          <input type="text" class="form-control col-6"  id="straat" name="straat" formControlName="straat">
        </div>
        <div class="form-group form-inline raw">
          <label for="num" class="col-md-auto">Numéro </label>
          <input type="text" class="form-control col-6" id="num" name="num" formControlName="num">
        </div>
        <div class="form-group form-inline raw">
          <label for="postalCode" class="col-md-auto">Code Postal </label>
          <input type="number" class="form-control col-6" id="postalCode" name="postalCode" formControlName="postalCode">
        </div>
        <div class="form-group form-inline raw">
          <label for="city" class="col-md-auto">Ville </label>
          <input type="text" class="form-control col-6" id="city" name="city" formControlName="city">
        </div>
      </div>
      <input class="btn btn-primary col-sm-offset-3" type="submit" value="S'inscrire" id="btnInscription"/>
    </fieldset>
  </form>
</div>-->


