<div align="center">
  <form class="form-horizontal" [formGroup]="formulaireConnexion" (ngSubmit)="emitNewUserConnected()" role="form">
    <fieldset>
      <legend>Formulaire de connexion</legend>
      <div class="form-group col-6">
        <label for="username">Login</label>
        <input type="text" class="form-control" id="exampleInputEmail1"  formControlName="username" id="username" placeholder="Entrez un login">

      </div>
      <div class="form-group col-6">
        <label for="motDePasseConnexion">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Entrez un mot de passe" formControlName="motDePasseConnexion" id="motDePasseConnexion">
        <small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
      </div>
      <input type="submit" value="Se connecter" class="btn btn-primary col-sm-offset-3" [disabled]="verificationFormulaire()"/>
    </fieldset>
  </form>
</div>
